{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/vnd.microsoft.icon" />
    {% block headFonts %}
    {% endblock headFonts %}
    {% block headStyles %}
    {% endblock headStyles %}
    {% block headScripts %}
    {% endblock headScripts %}
</head>

<body>
    {% block content %}
    {% endblock content %}
    {% block endScripts %}
    {% endblock endScripts %}
</body>

</html>